html,
body {
    height: 100%;
}

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#calc {
    background-color: rgba(114, 114, 114, 0.93);
    min-height: 500px;
    margin-top: 8%;
    border-radius: 25px;
    padding: 20px;
}

#output {
    font-size: 24px;
}